@model List<WebAppMVC.Models.FoodItem>

@{
    ViewData["Title"] = "Find Result";
}

<h1>Find</h1>

<div>
    <h4>FoodItem</h4>
    <hr />
    <div class="container">
        <div class="alert-info">
            Result : @Model.Count 
        </div>
    @foreach (var d in Model)
    {
        <table class="table table-hover">
            <tr >
                <td width="20%">
                    @Html.DisplayNameFor(model => d.Name)
                </td>
                <td width="80%">
                    @Html.DisplayFor(model => d.Name)
                </td>
            </tr>
            <tr>
                <td width="20%">
                    @Html.DisplayNameFor(model => d.Description)
                </td>
                <td width="80%">
                    @Html.DisplayFor(model => d.Description)
                </td>
            </tr>
            <tr>
                <td width="20%">
                    @Html.DisplayNameFor(model => d.FoodCategoryId)
                </td>
                <td width="80%">
                    <select id="FoodCat" class="btn btn-outline-info" asp-items=@ViewBag.Options asp-for=@d.FoodCategoryId></select>
                    <a asp-action="Edit" asp-route-id="@d.FoodId" class="btn btn-outline-primary">Edit</a>
                </td>
           
            </tr>
        </table>
    }
    </div>
   
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
