@model IEnumerable<WebAppMVC.Models.FoodItem>
@{
    ViewData["Title"] = "Home Page : Foods";
}
<div class="text-center">
    <h2>Welcome as @ViewBag.Title</h2>
</div>
<div class="container">
        <div class="form-group">
        <form asp-controller="Home" asp-action="Find" method="post">
            <!-- Input and Submit elements -->
            @Html.Label("Find")
            <input type="text" name="txtFind"  /> <!--Bind txtFind with Action Find(string txtFind) parameter using name attribute in input element-->
            <input type="submit" value="Find" asp-action="Find" asp-controller="Home" />
           @* <a class="btn btn-outline-info" asp-controller="Home" asp-action="Find" onclick="return confirm('Are sure wants to delete?');">Find</a>*@

        </form>
        </div>
    <table id="Foods" class="table table-borderd table-responsive-md table-hover">
        <tr>
            <td class="form-group align-content-center">ID</td>

            <td class="form-group align-content-center">
                @Html.ActionLink("Name","Index","Home",new{SortCol="Name"} )
                </td>
            <td class="form-group align-content-center">
                @Html.ActionLink("Description","Index","Home",new{SortCol="Description"} )
                
            </td>
            <td class="form-group align-content-center">Category</td>
            <td class="form-group align-content-center">Controls</td>

        </tr>
       
            @foreach (var ddd in Model)
            {
                <tr>
                    <td class="form-group align-content-center">@ddd.FoodId.ToString()</td>
                    <td class="form-group align-content-md-start"> @ddd.Name.ToString()</td>
                    <td class="form-group align-content-md-start"> @ddd.Description.ToString()</td>
                    
                    <td class="form-group align-content-md-start">
                    <select id="FoodCat" class="btn btn-outline-info" asp-items=@ViewBag.Options asp-for="@ddd.FoodCategoryId"></select>
                       @* @Html.DropDownList("Category",ViewBag.Options,"Select",new{@class= "btn btn-primary"})*@ @*@ddd.Category.ToString()*@
                    </td>
                    <td class="form-group align-content-center">
                        <div>
                        @Html.ActionLink("Details","Details","Home",new{Id = ddd.FoodId},new { @class= "btn btn-info", @style= "btn btn-info"} )
                        
                        @Html.ActionLink("Edit","Edit","Home",new{Id = ddd.FoodId},new { @class= "btn btn-outline-primary", @style= "btn btn-outline-primary"} )
                        <a class="btn btn-outline-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@ddd.FoodId" onclick="return confirm('Are sure wants to delete?');">Delete</a>
                        </div>
                    </td>
                </tr>

            }
    </table>
 
    @Html.ActionLink("Previous","PreviousPage","Home",null,new { @class= "btn btn-info", @style= "btn btn-info"} )
    @Html.ActionLink("Next","NextPage","Home",null,new { @class= "btn btn-info", @style= "btn btn-info"} )
    @{
        TempData.Keep("PgNm");
    }
</div>
    


