@model IEnumerable<WebAppMVC.Models.FoodItem>

 
<h1> @ViewData["Title"] Items</h1>
<a asp-action="Index" class="btn btn-outline-info">Back to Categories</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodCategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodCategoryId)
            </td>
            <td>
                    <a class="btn btn-outline-info" asp-controller="Home" asp-action="Edit" asp-route-id="@item.FoodId">Edit</a> |
                    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Details" asp-route-id="@item.FoodId">Details</a> |
                    <a class="btn btn-outline-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.FoodId" onclick="return confirm('Are sure wants to delete?');">Delete</a>
            </td>
        </tr>
}
    </tbody>
  
</table>
